@tailwind base;
@tailwind components;
@tailwind utilities;

.sign-out,
.sign-in{
    background-color: #FFC107;
    padding: .7em;
    border-radius: 10px;
}
.sign-out:hover,
.sign-in:hover{
    background-color: #ffd500;
    transition: all;
}
.sign-p{
    margin-top: 1em;
}