@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.sign-out,
.sign-in{
    background-color: #FFC107;
    padding: .7em;
    border-radius: 10px;
}
.sign-out:hover,
.sign-in:hover{
    background-color: #ffd500;
    transition: all;
}
.sign-p{
    margin-top: 1em;
}
.title{
    font-family: "Bricolage Grotesque", sans-serif;
}

body{
    transition-property: opacity background-color filter;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.page-transition{
    opacity: 0;
    background-color: black;
    filter: blur(12px);
}